In [1]:
import numpy as np
import pandas as pd

In [13]:
cf=pd.read_csv("coffee.csv")
cf.loc[[0,1],"Coffee Type"]=np.nan

In [11]:
cf.fillna(0,inplace=True)
cf

          Day Coffee Type  Units Sold
0      Monday           0          25
1      Monday           0          15
2     Tuesday    Espresso          30
3     Tuesday       Latte          20
4   Wednesday    Espresso          35
5   Wednesday       Latte          25
6    Thursday    Espresso          40
7    Thursday       Latte          30
8      Friday    Espresso          45
9      Friday       Latte          35
10   Saturday    Espresso          45
11   Saturday       Latte          35
12     Sunday    Espresso          45
13     Sunday       Latte          35

In [17]:
cf[cf["Coffee Type"].isna()]
cf["Coffee Type"].isna()
cf["Coffee Type"].notna()

0     False
1     False
2      True
3      True
4      True
5      True
6      True
7      True
8      True
9      True
10     True
11     True
12     True
13     True
Name: Coffee Type, dtype: bool